extends base

block content

  include includes/header

  .container
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente reprehenderit deserunt amet iusto dicta eaque dolore consequuntur molestias similique laboriosam voluptates minima molestiae, commodi eius a ducimus quibusdam illo! Dolorem ratione iste quas vel ad. Vel ullam cum repellendus veritatis iure omnis, quae eveniet accusantium repellat quam modi magni incidunt dolorem at labore voluptas expedita! Sint quidem dolores dolor veniam quibusdam voluptatibus. Distinctio aliquam laudantium rerum reprehenderit nulla molestiae, debitis quas provident velit sunt id unde quasi accusamus neque. Fugit voluptate reprehenderit architecto eaque nemo quidem quae, consequuntur labore pariatur minima? Laudantium eaque minima ipsam minus sapiente est nulla dolor.

  include includes/footer