@import "vars.css";
  
  .centered {
    @apply --centered;
  }
  

  
  /* some var() & calc() */
  body {
  color: var(--mainColor);
  
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.5);
  padding: calc((var(--fontSize) / 2) + 1px);
  }
  
  /* custom media query usage */
  @media (--viewport-medium) {
  body { font-size: calc(var(--fontSize) * 1.2); }
  }
  
